// Colors 
$title-color: #0b132a;
$main-color: #545b69;
$secondary-color: #71747a;
$tertiary-color: #a3aab6;
$bg-color: #ffffff;
$bg-secondary-color: #f8f8f8;
$bg-light-color: #fff3f3;
$accent-color: #f53838;
$dark-lines-color: #bcbcbc;
$shadow-color: rgba(13, 16, 37, 0.06);
$color_danger: #f53838;
$white: #fff;

// Breakpoints
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;

$layout-width: 80%;